.chat-menu-popup {
  position: absolute;
  top: 65px;
  right: 10px;

  padding: 15px;

  background: var(--color-white);
  border-radius: 12px;
  box-shadow: var(--box-shadow-medium);
}

.chat-menu-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chat-menu-item {
  width: 100%;
}
