@import "/index.css";
@import "../components/ProfileAvatar/ProfileAvatar.css";
@import "../components/ProfileDataField/ProfileDataField.css";
@import "../components/ProfileActionButton/ProfileActionButton.css";
@import "../components/ProfileGoBack/ProfileGoBack.css";

.content {
  width: 510px;

  margin: 60px auto;
}

.name {
  width: 100%;

  margin-top: 20px;
  text-align: center;

  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.info {
  width: 100%;

  margin-top: 60px;
}

.actions {
  width: 100%;

  margin-top: 50px;
}
