.input {
  border: none;
  border-bottom: 1px solid var(--color-blue);
  padding: 8px 4px;
  outline: none;
  width: 100%;

  &_invalid {
    color: var(--color-red);
    border-bottom: 1px solid var(--color-red);
  }

  &::placeholder {
    color: var(--color-white);
  }

  &_filled {
    border: none;
    background: var(--color-blue-light);
    border-radius: 30px;
    padding: 8px 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;

    &::placeholder {
      color: var(--color-grey);
    }
  }
}
