.go-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;

  width: 64px;

  justify-content: center;
  align-items: center;

  cursor: pointer;

  border-right: 1px solid var(--color-grey-light);

  background: var(--color-white);

  &__button {
    display: flex;

    width: 28px;
    height: 28px;

    justify-content: center;
    align-items: center;
    border-radius: 50%;

    color: var(--color-white);
    background: var(--color-blue);
  }
}
