@import "/index.css";
@import "/reset.css";

.message {
  display: flex;

  padding: 11px;

  justify-content: flex-end;

  white-space: pre-line;
}

.messageText {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.messageMeta {
  display: flex;

  margin-left: 14px;

  align-items: flex-end;

  color: var(--color-blue);
}

.messageMeta svg {
  height: 8px;

  margin-right: 4px;
}

.messageMetaText {
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
}
