@import "/index.css";
@import "/reset.css";

.message {
    display: flex;
    justify-content: flex-end;

    white-space: pre-line;

    padding: 11px;
}

.messageText {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.messageMeta {
    display: flex;
    align-items: flex-end;

    margin-left: 14px;

    color: var(--color-blue);
}

.messageMeta svg {
        height: 8px;

        margin-right: 4px;
}

.messageMetaText {
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
}