.button {
  display: block;
  width: 100%;
  padding: 12px;

  text-align: center;

  border-radius: 8px;

  color: var(--color-white);
  background: var(--color-blue);

  font-size: 13px;
  line-height: 13px;

  @media (hover: hover) {
    &:hover {
      background: var(--color-blue-light);
    }
  }
}
