@import '/reset.css';
@import '/index.css';
@import "components/Chat/Chat.css";
@import "components/DialogActive/DialogActive.css";
@import "components/DialogActive/Message/Message.css";
@import "components/DialogActive/MessageGroup/MessageGroup.css";

:root {
  --chats-block-header-height: 106px;
}

.chatsBlock {
  width: 310px;
  height: 100vh;

  flex-shrink: 0;

  background: var(--color-white);

  border-right: 1px solid var(--color-grey-light);
}

.chatsBlockHeader {
  display: flex;
  height: var(--chats-block-header-height);

  padding: 21px 10px 14px;

  flex-direction: column;
  border-bottom: 1px solid var(--color-grey-light);
}

.settingsLink {
  display: flex;

  width: 100%;

  justify-content: right;
  align-items: center;

  color: var(--color-grey);

  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

@media (hover: hover) {
  .settingsLink:hover {
    color: var(--color-beige);
  }
}

.settingsLinkIcon {
  margin-left: 8px;
}

.search {
  width: 100%;
  padding: 10px;
  margin-top: 23px;
  text-align: center;

  border-radius: 5px;

  color: var(--color-grey);
  outline: none;
  background: var(--color-grey-light);
}

.chatsBlockChats {
  height: calc(100vh - var(--chats-block-header-height));
  overflow-y: auto;
}

.dialog {
  width: 100%;
}

