<div class="{{styles.avatar}}">
    ${imageIcon}
    <div class="{{styles.avatar__overlay}} {{styles.avatar-overlay}}">
        <div class="{{styles.avatar-overlay__text}}">
            Поменять аватар
        </div>
    </div>
</div>