<div class="error-component">
    <h1 class="error-component__title">{{title}}</h1>
    <h2 class="error-component__subtitle">{{subtitle}}</h2>
    <a href={{link.href}} class="error-component__link">{{link.label}}</a>
</div>