.profile-form__input {
  width: 200px;
  border: none;
  outline: none;
  color: var(--color-grey);
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: right;

  &_readonly {
    user-select: none;
  }

  &_invalid {
    color: var(--color-red);
  }
}
