@import "/index.css";

.profile_data_field {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 10px 0;
}

.profile_data_field:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-light);
}

.category {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
}

.data {
    color: var(--color-grey);

    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
}