.chat-preview {
  display: flex;
  height: 70px;
  padding: 12px 10px;

  border-bottom: 1px solid var(--color-grey-light);

  &__avatar {
    width: 34px;
    height: 34px;

    margin-right: 10px;

    flex-shrink: 0;

    border-radius: 50%;
    background: var(--color-grey-light);
  }
}

.text-block {
  flex-grow: 1;

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
  }

  &__last-message {
    margin-top: 4px;
    margin-right: 20px;
  }
}

.last-message {
  display: -webkit-box;

  height: 30px;
  overflow: hidden;
  color: var(--color-grey);

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  &__prefix {
    color: var(--color-black-light);
  }
}

.meta {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  flex-shrink: 0;

  &__time {
    color: var(--color-grey);

    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
  }

  &__new-messages-count {
    display: flex;

    width: 20px;
    height: 20px;

    justify-content: center;
    align-items: center;
    border-radius: 50%;

    color: var(--color-white);
    background: var(--color-blue);

    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
  }
}
