:root {
  --color-black: #000;
  --color-white: #fff;
  --color-black-light: #1e1e1e;
  --color-blue: #3369f3;
  --color-red: #f00;
  --color-blue-light: #698ee9;
  --color-grey: #999;
  --color-beige: #bfb6b6;
  --color-grey-light: #e4edfd;
  --box-shadow-medium: 0 0 6px #00000014;
}
