:root {
  --color-black: #000;
  --color-white: #fff;
  --color-black-light: #1e1e1e;
  --color-blue: #3369f3;
  --color-red: #f00;
  --color-blue-light: #698ee9;
  --color-blue-light-2: #e4edfd;
  --color-grey: #999;
  --color-beige: #bfb6b6;
  --color-grey-light: #e4edfd;
  --color-grey-light-2: #f5f5f5;
  --color-grey-light-3: #b49e9e;

  --box-shadow-medium: 0 0 6px #00000014;

  --z-index-overlay: 100;
  --z-index-modal: 1000;
}
