@import '/index.css';

.actionButton {
    display: block;

    width: 100%;
    padding: 10px 0;

    color: var(--color-blue);

    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
}

.actionButton:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-light);
}

.actionButton:last-child {
    color: var(--color-red);
}