@import "/index.css";

.action_button {
  display: block;

  width: 100%;
  padding: 10px 0;

  color: var(--color-blue);

  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
}

.action_button:not(:last-child) {
  border-bottom: 1px solid var(--color-grey-light);
}

.action_button:last-child {
  color: var(--color-red);
}
