@import '/index.css';

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    position: relative;

    width: 130px;
    height: 130px;

    margin: 0 auto;

    border-radius: 50%;

    background: var(--color-grey-light);
}

.avatarOverlay {
    position: absolute;
    top: 0;
    left: 0;


    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    width: 130px;
    height: 130px;
    padding: 0 33px;

    border-radius: 50%;

    background: var(--color-black);

    opacity: 0;
    transition: all 0.3s ease;
}

.avatarOverlay:hover {
    opacity: 0.5;
}

.avatarOverlayText {
    color: var(--color-white);

    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
}