.floating-input-container {
  position: relative;
  width: 100%;
}

.input {
  &__label {
    font-size: 13px;
    color: var(--color-grey);
    position: absolute;
    pointer-events: none;
    top: 9px;
    left: 4px;
    transition: all 0.1s ease;
  }

  &__error-message {
    color: var(--color-red);
    font-size: 8px;
    line-height: 8px;
    padding-left: 4px;

    &_hidden {
      visibility: hidden;
    }
  }
}

.input:not(:placeholder-shown) ~ .input__label {
  top: -10px;
  bottom: 0;
  left: 4px;
  font-size: 9px;
  font-weight: 500;
  color: var(--color-grey);
}
