.profile-link {
  display: flex;

  width: 100%;

  justify-content: right;
  align-items: center;

  color: var(--color-grey);

  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  @media (hover: hover) {
    &:hover {
      color: var(--color-beige);
    }
  }

  &__icon {
    display: flex;
    margin-left: 8px;
  }
}
