.formField {
  border-bottom: 1px solid var(--color-blue);
}

.formField:not(:first-of-type) {
  margin-top: 16px;
}

.label {
  display: inline-block;
  width: 100%;

  margin-bottom: 8px;

  color: var(--color-grey);

  font-size: 9px;
  line-height: 9px;
}

.input {
  width: 100%;

  padding-bottom: 7px;

  outline: none;
}
