.profile-form {
  width: 100%;

  &_disabled {
    display: none;
  }

  &__rows {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 60px auto 0;

    @media only screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0 4px;
    border-bottom: 1px solid var(--color-grey-light);

    &_invalid {
      border-bottom: 1px solid var(--color-red);
    }
  }

  &__label {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
  }

  &__submit-button-wrap {
    margin: 60px auto 0;
    width: 280px;

    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &__submit-btn {
    width: 100%;
  }
}
