@import "/index.css";
@import "/reset.css";

.messageGroup {
    display: flex;
    flex-direction: column;
}

.messageGroupDate {
    width: 100%;

    margin-bottom: 20px;

    text-align: center;

    color: var(--color-grey);

    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

.message {
    display: flex;
    justify-content: flex-end;

    max-width: 40%;

    white-space: pre-line;

    padding: 11px;
}

.message:not(:first-child) {
    margin-top: 10px;
}

.myMessages {
    align-items: flex-end;
}

.myMessages .message {
    background: var(--color-grey-light);

    border-radius: 12px 12px 0 12px;
}

.companionMessages {
    align-items: flex-start;
}

.companionMessages .message {
    background: var(--color-grey-light);

    border-radius: 0 12px 12px 12px;
}

.companionMessages svg {
    display: none;

    color: var(--color-grey);
}