.message {
  display: flex;

  padding: 11px;

  justify-content: flex-end;

  white-space: pre-line;

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
}

.message-meta {
  display: flex;

  margin-left: 10px;

  flex-direction: row;

  align-items: flex-end;

  color: var(--color-blue);


  svg {
    height: 8px;

    margin-right: 4px;
  }

  &__text {

    margin-left: 4px;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
  }
}
