.avatar {
  position: relative;
  width: 130px;
  height: 130px;

  &__file-upload {
    display: none;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 130px;
    cursor: pointer;
    display: block;
    z-index: 5;

    &_hidden {
      display: none;
    }
  }

  &__image-wrap {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--color-grey-light);
  }

  &__image {
    border: 1px solid var(--color-grey-light);
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-height: 100%;
  }

  &__image-placeholder {
    width: 50%;
    border-radius: 0;
  }
}
