.form-field {
  border-bottom: 1px solid var(--color-blue);

  &:not(:first-of-type) {
    margin-top: 16px;
  }

  &__label {
    display: inline-block;
    width: 100%;

    margin-bottom: 8px;

    color: var(--color-grey);

    font-size: 9px;
    line-height: 9px;
  }

  &__input {
    width: 100%;

    padding-bottom: 7px;

    outline: none;
  }
}
