@import "FormField/FormField.css";
@import "../../components/Button/button.pcss";

.form {
  display: flex;

  width: 340px;
  min-height: 460px;
  padding: 50px 30px 30px;

  flex-direction: column;
  justify-content: space-between;

  border-radius: 12px;

  background: var(--color-white);
  box-shadow: var(--box-shadow-medium);
}

.title {
  margin-bottom: 40px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  text-align: center;
}

.actionButtons {
  margin-top: 62px;
}

.secondaryButton {
  display: inline-block;
  width: 100%;

  margin-top: 14px;

  text-align: center;

  font-size: 11px;
  line-height: 11px;
}
