@import '/index.css';

.profile_data_field_editable {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 10px 0;
}

.profile_data_field_editable:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-light);
}

.category {
    flex-shrink: 0;

    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
}

.data {
    width: 100%;

    outline: none;
    text-align: right;

    color: var(--color-grey);

    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
}